<configuration>
	<java>
		<toggleOffOn />
		<excludes>
			<exclude>**/target/**</exclude>
		</excludes>
		<eclipse>
			<file>src/main/resources/sundsvall_formatting.xml</file>
		</eclipse>
		<importOrder>
			<order>,\#</order>
		</importOrder>
		<removeUnusedImports>
			<engine>cleanthat-javaparser-unnecessaryimport</engine>
		</removeUnusedImports>
	</java>
	<json>
		<toggleOffOn />
		<excludes>
			<exclude>**/target/**</exclude>
		</excludes>
		<includes>
			<include>src/**/*.json</include>
		</includes>
		<gson />
		<indent>
			<tabs>true</tabs>
			<spacesPerTab>4</spacesPerTab>
		</indent>
	</json>
	<sql>
		<toggleOffOn />
		<includes>
			<include>src/main/resources/**/*.sql</include>
		</includes>
		<excludes>
			<exclude>**/target/**</exclude>
			<exclude>**/migration/**</exclude>
			<exclude>**/schema.sql</exclude>
		</excludes>
		<dbeaver />
	</sql>
	<markdown>
		<toggleOffOn />
		<excludes>
			<exclude>**/target/**</exclude>
		</excludes>
		<includes>
			<include>**/*.md</include>
		</includes>
		<flexmark />
	</markdown>
	<pom>
		<toggleOffOn />
		<includes>
			<include>pom.xml</include>
		</includes>
		<sortPom>
			<expandEmptyElements>false</expandEmptyElements>
			<spaceBeforeCloseEmptyElement>true</spaceBeforeCloseEmptyElement>
			<nrOfIndentSpace>2</nrOfIndentSpace>
		</sortPom>
		<indent>
			<tabs>true</tabs>
			<spacesPerTab>2</spacesPerTab>
		</indent>
	</pom>
</configuration>
